.header {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 2;
    text-align: right;
  }
  
  .header p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }

  .header p:hover {
    color: aqua;
  }
  